<h2>By Country</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SerachBox -->
    <!-- <shared-search-box (onValue)="searchByCountry($event)" placeholder="Search by Country"></shared-search-box> -->
    <shared-search-box [initialValue]="initialValue" (onDebounce)="searchByCountry($event)" placeholder="Search by Country"></shared-search-box>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <!-- Search Results -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

     <countries-table [countries]="countries"></countries-table>
  </div>
</div>
